<a href="https://colab.research.google.com/github/KSeungBin/TIL/blob/main/01_python_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 모드(mode): 명령모드(셀을 수정: esc), 편집모드(셀 내용을 수정:enter)
# 스타일(style): 코드(파이썬 코드를 작성 및 실행), 텍스트(마크다운 문법을 작성 및 실행)
# 단축키(short cut): 자동완성(ctrl+space) -> 오타를 줄이기 위해 자동완성 기능을 많이 사용하는 것이 좋다

In [ ]:
# python 기초 문법
# 목적: CPU, RAM, SSD의 자원을 사용하기 위한 방법
# 1. 변수선언: RAM을 사용하는 문법: RAM에 저장공간을 만들어 데이터 저장
# 2. 데이터타입: RAM을 효율적으로 사용하는 문법
# 3. 연산자: CPU를 사용하는 문법
# 4. 조건문: 특정 조건에 따라서 다른 코드를 실행
# 5. 반복문: 특정 코드를 반복적으로 실행
# 6. 함수: 중복되는 코드를 묶어서 작성하여 실행하는 문법
# 7. 클래스: 변수, 함수를 묶어서 코드를 작성 및 실행하는 문법
# 8. 모듈: 변수, 함수, 클래스를 하나의 파일로 묶어서 코드를 작성 및 실행
# 9. 패키지: 여러 개의 모듈 파일을 디렉토리로 묶어서 코드를 작성 및 실행 -> 프로그램은 주로 패키지 단위로 개발, 패키지에서 버전 정보를 저장하고 있음
# 10. 입출력: SSD(HDD)를 사용하는 문법 -> 메모리에 저장되어 있는 데이터를 SSD에 저장하거나, SSD에 저장된 것을 메모리로 불러올 때 사용
# 에외 출력, 정규 표현식 ...

In [ ]:
# 1. 변수선언
# 식별자: 저장공간을 구별하는 문자열
# 식별자규칙
# - 문법(틀리면 에러): 1) 대소문자, 숫자, _만 사용 가능) 2) 가장 앞에 숫자 X 3) 명령어 사용 X: def, if, for 
# - 컨벤션(틀려도 실행됨): PEP8 1) Snake case: JupyterNotebook(X), jupyterNotebook(X), jupyter_notebook(O)

In [1]:
# 식별자 1개, 데이터 1개
data1 = 1

# 식별자 N개, 데이터 N개
data2, data3 = 2, 3

# 식별자 N개, 데이터 1개
data4 =data5 = 4

# 식별자 1개, 데이터 N개: 데이터타입 > 컬렉션 데이터타입

In [3]:
# print(): 식별자에 저장되어 있는 데이터 출력
print(data4, data5)

4 4

In [6]:
# ipython 기능: 마지막 변수는 print 함수를 사용하지 않아도 데이터 출력
print(data1)
data2

1

2

In [ ]:
# 2. 데이터타입
# 기본: int, float, bool(가장 적은 메모리 차지), str(가장 많은 메모리 차지) -> 동적타이핑: 변수 선언시 자동으로 데이터에 따라서 데이터 타입이 설정
# 컬렉션: list, tuple, dict, set -> 식별자 1개, 데이터 N개

In [3]:
d1, d2, d3, d4 = -2, 1.2, True, 'python'

In [4]:
# type(): 식별자에 설정된 데이터 타입 출력
type(d1), type(d2), type(d3), type(d4)

(int, float, bool, str)

In [5]:
# list: [] : 순서가 있고 수정이 가능
d1 = [1, 2, 3, 'A', 'B']
type(d1), d1

(list, [1, 2, 3, 'A', 'B'])

In [6]:
# tuple: () : 순서가 있고 수정이 불가능
d2 = (1, 2, 3, 'A', 'B')
type(d2), d2

(tuple, (1, 2, 3, 'A', 'B'))

In [7]:
# dict: {} : 순서가 없고, 순서(인덱스)대신 키값을 사용 : {key: value}
d3 = {'one': 1, 2: 'A'}
type(d3), d3

(dict, {'one': 1, 2: 'A'})

In [8]:
# set: set() : 순서가 없고, 중복 데이터를 허용하지 않는다 : 합집합, 교집합, 차집합 연산
d4 = set([1, 2, 3, 2])
type(d4), d4

(set, {1, 2, 3})

In [9]:
data = ['연금보험', '종신보험', '연금보험']
set(data)

{'연금보험', '종신보험'}

In [ ]:
# CRUD: CREATE, READ, UPDATE(데이터 수정), DELETE
# READ: masking: data[]
# [index], [start:end], [start:end:stride]
# start(포함, 가장 앞), end(불포함, 가장 뒤)

In [16]:
# 순서가 있는 데이터(list, tuple)에 사용 가능한 문법
d1, d1[3], d1[1:4], d1[:2], d1[3:], d1[::2]

([1, 2, 3, 'A', 'B'], 'A', [2, 3, 'A'], [1, 2], ['A', 'B'], [1, 3, 'B'])

In [17]:
# -값 사용 가능
d1[-2:], d1[::-2]

(['A', 'B'], ['B', 3, 1])

In [18]:
data = 'python'
data[:2]

'py'

In [22]:
data1, data2 = '사업보고서(2020)', '[기재정정]사업보고서(2022)'
data1[-5:-1], data2[-5:-1]

('2020', '2022')

In [24]:
# dict 데이터 타입은 key를 사용해서 데이터를 선택
d3[2]

'A'

In [25]:
# tuple 데이터 타입 사용 이유
# 같은 데이터를 저장할 때 list보다 tuple이 저장공간을 적게 사용
import sys
data1, data2 = [1,2,3], (1,2,3)
sys.getsizeof(data1, data2)

120

In [26]:
# DELETE: del 데이터선택
print(d3)
del d3['one']
d3

{'one': 1, 2: 'A'}

{2: 'A'}

In [28]:
print(d1)
del d1[3]
d1

[1, 2, 3, 'A', 'B']

[1, 2, 3, 'B']

In [33]:
# 실수할만한 코드 1
data1 = [1,2,3] # original data
data2 = data1   # 얕은 복사: 주소값 복사
data3 = data1.copy() # 깊은 복사: 데이터(값) 복사
print(data1, data2)

data2[1] = 4
print(data1, data2) # original data도 수정되었음

[1, 2, 3] [1, 2, 3]
[1, 4, 3] [1, 4, 3]

In [34]:
# id(): 식별자의 주소값 출력
# 특정 식별자의 속성에 대한 데이터 출력: print, type, id, sys.getsizeof
id(data1), id(data2), id(data3)

(140020632052992, 140020632052992, 140020632425088)

In [ ]:
# 3. 연산자
# 산술 : 데이터 + 데이터 = 데이터 : +, - < *, /, //, % < **
# 할당 : 식별자(변수명) <산술>= 데이터 : 변수에 데이터를 누적해서 연산
# 비교 : 데이터 + 데이터 = 논리값 : ==, !=, >, <, >=, <=
# 논리 : 논리값 + 논리값 = 논리값
#   - not, and(True and True = True), or(False or False = False)
# 멤버 : 컬렉션 데이터에서 특정 데이터가 포함 확인 : in, not in

In [35]:
# 나이를 연령대로 변환
age = 45
ages = (age // 10) * 10
ages

40

In [36]:
# 할당연산자
data = 10
data += 5 # data = data + 5
data

15

In [39]:
# 비교연산자: 조건 1개
d1 = 14
d2 = 4
d1 == d2, d1 != d2

(False, True)

In [40]:
# 논리연산자: 조건 2개 이상
# 조건 1: 예금잔고, 출금금액: 출금가능여부 T, F
# 조건 2: 1회 최대 출금 금액 5000원
balance = 10000
withdraw = 7000
max_withdraw = 5000
balance >= withdraw and withdraw <= max_withdraw

False

In [41]:
# 산술 > 비교 > 논리(and > or)
year = 2000
year % 4 == 0 and year % 100 != 0 or year % 400 == 0

True

In [42]:
# 멤버연산자: 컬렉션 데이터에 특정 데이터가 있는지 확인
data = ['연금보험', '종신보험']
'연금보험' in data, '자동차보험' not in data

(True, True)

In [43]:
# 형변환 함수: int, float, bool, str, list, tuple, dict, set
list('ABCD'), bool(1), bool(0)

(['A', 'B', 'C', 'D'], True, False)

In [ ]:
# 조건문: if, elif, else
# 특정 조건에 따라서 다른 코드를 실행`

In [45]:
# 실수하기 쉬운 코드 2
# 부동소수점 에러: 실수를 2진수로 변환해서 연산
d1, d2 = 0.1, 0.2
print(d1 + d2 == 0.3) 

# 해결법 1: 반올림 : round()
print(round(d1 + d2, 1) == 0.3)

# 해결법 2: 고정소수점으로 연산 수행 -> 단, 연산 속도가 느려지는 단점
from decimal import Decimal
float(Decimal(str(d1)) + Decimal(str(d2)))

False
True

0.3

In [47]:
# 5. 반복문: 특정 코드를 반복적으로 실행할 때 사용하는 문법
# while, for, range(), break, continue
# while -> 무한루프에 빠지기 쉬움: 런타임 > 실행중단: 코드 실행 강제로 중지
# 조건을 확인하는 코드의 결과가 bool이 아니면 bool로 형변환해서 판단
count = 3
while count:
  print('kyobo')
  count -= 1

kyobo
kyobo
kyobo

In [48]:
bool(0), bool(0.0), bool(''), bool([]), bool(()), bool({})

(False, False, False, False, False, False)

In [49]:
# for
data = [0,1,2]
for num in data: # in 뒤에 있는 컬렉션 데이터의 개수만큼 실행
  print('kyobo', num)

kyobo 0
kyobo 1
kyobo 2

In [50]:
# range(): 리스트 데이터를 만들어 주는 함수
# range(end): end는 포함하지 않는다
list(range(3))

[0, 1, 2]

In [52]:
# range(start, end): start는 포함하고 end는 포함하지 않는다
print(list(range(3, 10)))

# range(start, end, stride)
list(range(3, 10, 2))

[3, 4, 5, 6, 7, 8, 9]

[3, 5, 7, 9]

In [54]:
# break: 반복문에서 강제로 코드실행 중단
# continue: 반복을 정의하는 코드로 올라가서 코드를 실행, continue 뒤에 있는 코드는 실행되지 않는다
for num in range(10):
  if num == 2:
    continue
  print(num)
  if num >= 6:
    break

0
1
3
4
5
6