<a href="https://colab.research.google.com/github/KSeungBin/TIL/blob/main/02_python_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# python
def credit_1(score):
  if (score >= 70):
    return 'A'
  if (score >= 40):
    return 'B'
  else:
    return 'C'
print(credit_1(90))

A

In [3]:
def credit_2(score):
  if (score >= 70):
    grade = 'A'
  if (score >= 40):
    grade = 'B'
  else:
    grade = 'C'
  return grade

print(credit_2(90))

B

In [ ]:
# Python(복습)
# CPU, RAM, SSD(HDD) 자원을 사용하는 방법
# 1. 변수선언 : RAM 사용 방법
#   - RAM에 저장공간을 만들어 데이터를 저장
#   - 식별자 : 저장공간을 구별하기 위한 문자열
#   - 식별자규칙 : 대소문자, 숫자, _ 사용가능 : 가장 앞에 숫자 X : 명령어 X : snake_case
#   - 식별자 1개, 데이터 1개 : 식별자 n개, 데이터 n개 : 식별자 n개, 데이터 1개
# 2. 데이터타입 : RAM 효율적 사용 방법
#   - 기본 : int, float, bool, str : 동적타이핑
#   - 컬렉션 : 식별자 1개, 데이터 n개 : CRUD : list, tuple, dict, set
#       - create : list([]), tuple(()), dict({}), set(set())
#       - read : masking : data[] : [idx], [key], [start:end], [start:end:stride]
#       - update : 데이터선택 = 수정할데이터
#       - delete : del 데이터선택
#   - print(데이터), type(테이터타입), id(주소값), sys.getsizeof(데이터사이즈)
#   - 얕은복사(주소복사), 깊은복사(데이터복사:data.copy())
# 3. 연산자 : CPU 사용 방법
#   - 산술 : 데이터 + 데이터 = 데이터 : +, - < *, /, //, % < **
#   - 할당 : 식별자 <산술>= 데이터
#   - 비교 : 데이터 + 데이터 = 논리값 : ==, !=, >, <, >=, <= : 조건 1개
#   - 논리 : 논리값 + 논리값 = 논리값 : not, and(T) > or(F) : 조건 2개 이상
#   - 멤버 : 컬렉션 데이터에 특정 데이터가 있는지 확인 : in, not in
#   - 산술 > 비교 > 논리 > 멤버

In [4]:
# input(): 키보드로 입력한 결과를 변수에 저장: str
question = input('질문을 입력하세요: ')
question

질문을 입력하세요: 파이썬?

'파이썬?'

In [5]:
# random.randint(): 랜덤한 숫자 출력
import random
idx = random.randint(0, 2) # 0 or 1 or 2
idx

0

In [6]:
# 해결의 책
# 1. 답변 리스트: create list
answers = [
    '원하는 대로 잘 이루어질 것이다.',
    '무엇을 상상하던 그 이상으로 좋을 것이다.',
    '생각한대로 되지 않을 것이다.'
]

# 2. 질문 받기: input()
question = input('질문을 입력하세요: ')

# 3. 랜덤한 숫자 출력: random.randint()
idx = random.randint(0, 2)

# 4. 랜덤한 숫자에 해당하는 답변 출력: masking data(index)
answers[idx]

질문을 입력하세요: 육아를 잘 할 수 있을까요?

'무엇을 상상하던 그 이상으로 좋을 것이다.'

In [8]:
lotto = []
while True:
  random_number = random.randint(1, 45)
  if random_number not in lotto:
    lotto.append(random_number) # 또는 lotto = list(set(lotto))
  if len(lotto) >= 6:
    break

lotto.sort() # 리스트 정렬
print(lotto)

[8, 10, 19, 22, 36, 42]

In [9]:
import pandas as pd

In [11]:
# 1. 데이터로드
data = pd.read_excel('/content/drive/MyDrive/01_python-20230313T001604Z-001/01_python/data/stock.xlsx')
data.tail(2)

          date    kospi     usd
58  2022-04-19  2718.89  1239.5
59  2022-04-18  2693.21  1235.0

In [12]:
# 데이터분석
# 원달러환율이 높으면 주가가 하락, 원달러환율이 낮으면 주가가 상승
# 원달러환율과 주가는 반대로 움직인다
# 상관계수: 두개의 데이터 집합의 관계를 수치화(1: 강한 양의 상관관계, -1: 강한 음의 상관관계, 0: 관계 없음)
data.corr()

          kospi       usd
kospi  1.000000 -0.906453
usd   -0.906453  1.000000

In [13]:
# count: 특정지역 영업점 평균 고객 미팅 횟수
# time: 특정지역 영업점 평균 고객 미팅 시간
# 영업전략: 고객미팅 횟수를 증가하는게 좋은지 OR 고객미팅 시간을 증가하는게 좋은지
data = pd.read_excel('/content/drive/MyDrive/01_python-20230313T001604Z-001/01_python/data/data.xlsx')
data.tail(2)

     count  time  sales
198  283.6  66.2   25.5
199  232.1   8.7   13.4

In [14]:
# 한 명의 고객을 오래 미팅하는 것보다, 최대한 많은 고객을 만나는게 효과적
data.corr()

          count      time     sales
count  1.000000  0.056648  0.782224
time   0.056648  1.000000  0.228299
sales  0.782224  0.228299  1.000000

In [17]:
# 6. 함수
# 중복된 코드를 묶어서 코드를 작성 및 실행: 코드 유지보수 향상
# 사용법: 함수선언(코드 작성) > 함수호출(코드 실행)

# 함수 선언(코드작성)
def disp_lotto():
  lotto = []
  while True: # 블록설정 > shift + tab: 앞으로 이동
      random_number = random.randint(1, 45)
      lotto.append(random_number)
      lotto = list(set(lotto))
      if len(lotto) >= 7:
          break
  print(lotto)

In [18]:
# 함수 호출(코드실행)
disp_lotto()

[5, 8, 9, 12, 44, 21, 30]

In [19]:
# parameter, argument: 함수를 호출할 때 함수를 선언하는 부분으로 데이터 전달
# 로또번호 6개 출력
# 로또번호 7개 출력
def disp_lotto(count): # count: parameter
  lotto = []
  while True: 
      random_number = random.randint(1, 45)
      lotto.append(random_number)
      lotto = list(set(lotto))
      if len(lotto) >= count:
          break
  print(lotto)

disp_lotto(6) # 6: argument
disp_lotto(7)

[6, 15, 18, 20, 22, 23]
[33, 2, 5, 7, 43, 19, 21]

In [22]:
# parameter 2개인데 argument 하나이면 error 발생 > default 값 설정하면 argument 하나이든 두개이든 ok
def plus(n1, n2=10, n3=30): # n2=10: default paramenter
  print(n1 + n2 + n3)

plus(1,n3=100) # n3=100: keyword argument

111

In [23]:
# help(): 함수 설명글(docstring) 출력
# print도 default parameter를 사용하고 있다
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [25]:
print('A', 'B', sep=', ', end='\t' )
print('C')

A, B	C

In [26]:
# 멀티라인 문자열
data = '''
파이썬
데이터분석
'''

print(data)

파이썬
데이터분석

In [27]:
#argument의 갯수에 상관 없이 함수 실행하는 방법
# *args (argument: 키워드가 없는 아규먼트 여러개를 받아줌), **kwargs (keyword argument: 키워드가 있는 아규먼트 여러개를 받아줌)
# 아규먼트 여러개 > 파라미터 1개: 컬렉션 데이터타입(tuple, dict)
def plus(*args):
    print(type(args), args)

plus(1, 2, 3, 4)

<class 'tuple'> (1, 2, 3, 4)

In [28]:
def plus(*args, **kwargs):
    print(type(args), args)
    print(type(kwargs), kwargs)

plus(1, 2, 3, 4, num1=10, num2=20)

<class 'tuple'> (1, 2, 3, 4)
<class 'dict'> {'num1': 10, 'num2': 20}

In [29]:
# return
# 함수 실행후 결과 데이터를 변수에 저장할 때 사용
# 함수는 리턴이 있는 함수와 리턴이 없는 함수가 있음

In [30]:
def plus1(n1, n2):
  print(n1 + n2)

def plus2(n1, n2):
  return n1 + n2

In [32]:
result1 = plus1(1, 2)
result2 = plus2(3, 4) # result2 = n1 + n2
print(result1, result2)

3
None 7

In [33]:
# return이 있는 함수: str.upper()
# 원래 변수는 바꾸지 않는 함수가 대부분
data = 'python'
result = data.upper()
print(data, result)

python PYTHON

In [34]:
# return이 없는 함수: list.sort()
# 변수에 데이터를 저장할 수 없고 데이터 자체를 바꾸는 기능으로 많이 사용됨
data = [1,3,2]
result = data.sort()
print(data, result)

[1, 2, 3] None

In [35]:
# return 함수에서 코드실행을 중단 -> break와 같은 역할
def echo(data):
  if data == 'Q':
    return
  print(data)

In [36]:
echo('kyobo')

kyobo

In [37]:
echo('Q')

In [39]:
# 실수할만한 코드
data = 10
def change():
  data = 20

change()
print(data)

10

In [40]:
# 함수 scope
# global: 전역: 함수 밖에 변수선언
# local: 지역: 함수 안에 변수선언

# global: 지역영역에서 전역영역의 변수를 가져오기
data = 10
def change():
  global data # 전역영역의 data 변수 연결
  data = 20

change()
print(data)

20

In [41]:
# return: 지역영역의 변수(데이터)를 전역영역으로 가져오기
data = 10
def change():
  data = 20
  return data

data = change()
print(data)

20

In [42]:
# docstring: 함수의 설명글
def plus(n1, n2):
  '''This function is plus two numbers:
  params
  -------
  n1: int, float: first number
  n2: int, float: second number

  return
  -------
  n1 + n2: int, float
  '''
  return n1 + n2

In [43]:
help(plus)

Help on function plus in module __main__:

plus(n1, n2)
    This function is plus two numbers:
    params
    -------
    n1: int, float: first number
    n2: int, float: second number

    return
    -------
    n1 + n2: int, float

In [44]:
# 식별자 규칙: def/if 등의 명령어는 안되지만, print/list 등의 함수는 된다(단, 사용하지 않기!)
print = 10
data = 10
print(data) # 런타임 > 런타임 다시 시작

TypeError: ignored

In [1]:
# lambda 
# 일회성함수: 간단한 파라미터, 리턴 코드가 있는 함수 대체
# 간단한 함수를 함수 선언 없이 기능을 구현 > 메모리 절약

def plus(n1, n2): # parameter와 return으로 이루어진 함수 -> 따라서 lambda로 대체 가능
  return n1 + n2

def minus(n1, n2):
  return n1 - n2

def calc(func, n1, n2):
  return func(n1, n2)
  # 함수 3개 선언: 메모리 3칸 사용

In [2]:
# 함수 자체를 파라미터로 사용할 수 있다
calc(plus, 1, 2), calc(minus, 1, 2)

(3, -1)

In [3]:
plus_lambda = lambda n1, n2: n1 + n2
calc(plus_lambda, 1, 2)

3

In [4]:
# 함수 1개 선언: 메모리 1칸 사용
def calc(func, n1, n2):
  return func(n1, n2)

plus_lambda = lambda n1, n2: n1 + n2
calc(plus_lambda, 1, 2), calc(lambda n1, n2: n1 - n2, 1, 2)

(3, -1)

In [ ]:
# 7. 클래스
# 변수, 함수를 묶어서 코드를 작성 및 실행하는 방법
# 객체지향을 문법적으로 구현
# 객체지향: 실제세계를 모델링하여 코드를 개발하는 방법론: 협업이 용이함
# 사용법
# - 클래스 선언(코드 작성) > 객체 생성(메모리 사용) > 메서드(함수) 실행(코드 실행)
# - 클래스선언(설계도작성) > 객체생성(제품생산) > 메서드실행(기능사용)
# 클래스 식별자 : PascalCase, UpperCamelCase

In [5]:
# 클래스선언(코드 작성)
# 계좌만들기: Account: balance, deposit(), withdraw()
class Account:
  balance = 0
  def deposit(self, money):
    self.balance += money
  def withdraw(self, money):
    self.balance -= money

In [6]:
# 객체생성(메모리사용)
account1 = Account() # 함수는 snake_case이므로 소문자로 시작함, 클래스는 대문자로 시작함
account2 = Account()

In [7]:
# dir(): 객체에 저장되어 있는 변수 출력
dir(account1) # dir(account1)[-3:]을 제외하면 모두 스페셜 메서드

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'balance',
 'deposit',
 'withdraw']

In [8]:
account1.balance, account2.balance

(0, 0)

In [9]:
# 메서드실행(코드실행)
account1.deposit(5000)
account1.balance, account2.balance

(5000, 0)

In [10]:
account1.withdraw(2000)
account1.balance, account2.balance

(3000, 0)

In [13]:
# self: 객체 자신
bool(" ")

True

In [14]:
# 스페셜 메서드
# 메서드 이름 앞뒤로 __ 가 붙어있는 메서드
# 특별한 기능을 하는 메서드
# 생성자 메서드 : __init__ : 객체를 생성할때 실행되는 메서드, 제품을 만들 때 부품이 다 있는지 확인하는 역할
#    - 클래스의 메서드에서 사용되는 변수의 초기값을 지정하는 용도로 사용

In [15]:
# 클래스 생성
class Account:
  def __init__(self, balance):
    self.balance = balance
  def deposit(self, money):
      self.balance += money
  def withdraw(self, money):
      self.balance -= money

In [16]:
# 객체 생성
# 이 코드가 실행될 때 __init__이 실행됨
account = Account()

TypeError: ignored

In [17]:
# 초기값에 해당하는 재료(balance)를 넣어주면 동작함
account = Account(10000)

In [18]:
import pandas as pd

In [20]:
data = pd.DataFrame({'id': [1, 2], 'name': ['A', 'B']}) # 객체 생성
data

   id name
0   1    A
1   2    B

In [21]:
# 클래스는 사용자정의 데이터타입
# 클래스 = 데이터타입
# 사용자정의: Account는 우리가 만들었다

# data 변수는 str 클래스로 만들어진 데이터타입 입니다.
# str 클래스로 만들어진 객체
data = 'python'
type(data)

str

In [22]:
# account 객체: 클래스, 데이터타입: Account
# data 객체: 클래스, 데이터타입: str
type(account), type(data)

(__main__.Account, str)

In [23]:
# data 객체가 사용할 수 있는 메서드들
dir(data)[-10:]

['rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [24]:
help(data.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [25]:
# 8. 모듈, 패키지
# 모듈 : 여러개의 변수, 함수, 클래스를 하나의 파일(.py)로 코드를 묶어서 작성 및 실행
# 패키지 : 여러개의 모듈파일을 디렉토리로 묶어서 코드를 작성 및 실행
# import, from, as
%ls
# 파일 리스트 출력하는 커멘드

drive/  sample_data/

In [26]:
%%writefile kyobo.py
kyobo_data = 1234

def echo(msg):
    print('kyobo', msg)

Writing kyobo.py

In [27]:
%ls

drive/  kyobo.py  sample_data/

In [30]:
# kyobo 모듈 파일에는 변수 data, 함수 echo가 있다
import kyobo

kyobo.kyobo_data

1234

In [31]:
kyobo.echo('python')

kyobo python

In [32]:
%reset
# 현재 선언된 변수 초기화해주는 명령

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [33]:
%whos
# 현재 선언된 변수 출력

Interactive namespace is empty.

In [34]:
from kyobo import kyobo_data, echo

In [35]:
%whos

Variable     Type        Data/Info
----------------------------------
echo         function    <function echo at 0x7f961204b670>
kyobo_data   int         1234

In [36]:
from kyobo import kyobo_data as kd

In [37]:
%whos

Variable     Type        Data/Info
----------------------------------
echo         function    <function echo at 0x7f961204b670>
kd           int         1234
kyobo_data   int         1234

In [ ]:
import insmarket as im
ins_data = im.pension_savings_insurance()

In [ ]:
ins_data.to_excel('ins.xlsx', index=False, encoding='utf-8-sig')

In [38]:
!pip install geohash2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geohash2
  Downloading geohash2-1.1.tar.gz (15 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: docutils>=0.3 in /usr/local/lib/python3.9/dist-packages (from geohash2) (0.16)
Building wheels for collected packages: geohash2
  Building wheel for geohash2 (setup.py) ... done
  Created wheel for geohash2: filename=geohash2-1.1-py3-none-any.whl size=15562 sha256=2f8fec5cdb807f039056a564513b991c3621617cdd3390db94224072eaf600fe
  Stored in directory: /root/.cache/pip/wheels/ec/29/ab/aa2b0265ceaef06eac4aed2ca6ae1b17eb2ffb14d611f20172
Successfully built geohash2
Installing collected packages: geohash2
Successfully installed geohash2-1.1

In [ ]:
import zigbang as zb

In [ ]:
%cat zigbang.py

In [ ]:
data = zb.oneroom('망원동')
data.tail(2)

In [ ]:
data.to_excel('one_room.xlsx', index=False, encoding='utf-8-sig')

In [ ]:
# 9. 입출력
# RAM > SSD, SSD > RAM
# RAM(객체) > 직렬화(byte()) > SSD(객체) -> 파이썬은 속도가 느려져 직렬화 거의 하지 않는다
# pickle