# Lecture 1

### 1.1 첫 번째 파이썬 프로그램

#### [1.1.1] 
지금부터 Colab을 통해 여러분의 첫 번째 파이썬 프로그램을 시작해보겠습니다. 함께 해볼 정말 단순한 프로그램은 내가 원하는 내용을 적어주면 화면에 출력하는 프로그램입니다. 화면에 내용을 보여주는 파이썬 명령어는 바로 **print()**입니다. 아래의 코드 셀(Code Cell)에 **print("안녕!")**이라고 입력하고, 키보드로 Ctrl-Enter를 눌러보면 (혹은 Run이라고 적힌 아이콘을 클릭하면), 바로 아래 줄에 "안녕!"이라는 글씨가 보일 것입니다.

In [1]:
# [1.1.1] '안녕!'을 출력해주세요.
# ***** 아래에 코드를 작성하세요*****
 
print('안녕!')

# ***********************************

안녕!

####[1.1.2] 
**print("안녕!")**을 입력한 다음에 Ctrl-Enter가 아니라 그냥 Enter 키를 누르면 커서가 한 줄 아래로 내려가지만 아무 일도 일어나지 않습니다. Enter는 프로그램을 작성할 때 줄 바꿈을 할 뿐, 프로그램을 실행하지는 않습니다. 이렇게 Enter를 누른 다음에는 **print("Hello!")**라고 한 줄을 더 입력하고, 이제 Ctrl-Enter를 눌러보겠습니다. 출력으로 첫 줄에 "안녕!", 그리고 둘째 줄에 "Hello!"를 볼 수 있습니다.

In [2]:
# [1.1.2] '안녕!'과 'Hello!'를 출력해주세요.
# *****아래에 코드를 작성하세요*****
 
print('안녕!')
print("Hello!")

# **********************************

안녕!
Hello!

### 1.2 파이썬은 계산기로 쓸 수 있다.

####[1.2.1] 
프로그래밍을 위해서는 다양한 연산이 필요합니다. 파이썬에서 제공하는 기본적인 산술 연산자에는 + (덧셈), - (뺄셈), * (곱셈), / (나눗셈), ** (지수), // (몫), % (나머지) 등이 있습니다. 아래의 코드 셀을 실행해보세요. Shift-Enter를 누르면 마우스 커서가 현재 위치한 셀을 실행 후 다음 셀로 자동으로 이동하여 연달아 코드를 실행할 수 있습니다.

In [3]:
# *****[1.2.1] 아래의 코드를 실행하세요*****
print(1 + 2)

3

In [4]:
# *****[1.2.2] 아래의 코드를 실행하세요*****
print(2 - 3)

-1

In [5]:
# *****[1.2.3] 아래의 코드를 실행하세요*****
print(3 * 4)

12

In [6]:
# *****[1.2.4] 아래의 코드를 실행하세요*****
print(4 / 5)

0.8

In [7]:
# *****[1.2.5] 아래의 코드를 실행하세요*****
print(2 ** 3)

8

In [8]:
# *****[1.2.6] 아래의 코드를 실행하세요*****
print(7 // 3)

2

In [9]:
# *****[1.2.7] 아래의 코드를 실행하세요*****
print(7 % 3)

1

### 1.3 = 는 '같다'가 아니다.

#### [1.3.1] 
프로그램에는 값이 하나로 정해진 숫자 뿐 아니라 프로그램이 실행되는 중에 값이 얼마든지 변할 수 있는 변수를 자주 이용합니다. 예를 들어 **x = 3**이라고 입력하면 파이썬에서는 3이라는 값을 x라는 변수에 할당합니다. 아래의 코드 셀을 실행해보세요.

In [10]:
# *****[1.3.1] 아래의 코드를 실행하세요*****
a = 1
print(a)

b = 2
print(b)

c = a + b
print(c)

1
2
3

####[1.3.2] 
파이썬 뿐 아니라 많은 프로그램에서 **a = b**는 a와 b가 같다는 뜻이 아니라 b의 값을 변수 a에 할당(assign)한다는 뜻입니다. 예를 들어, 위의 코드 셀에서처럼 a와 b에 각각 1과 2를 할당한 후 **a = b**를 실행한다면 a에 할당된 값은 1에서 2로 바뀌게 됩니다. 참고로 파이썬에서 같다는 ==와 같이 등호를 두번 연속으로 사용하여 나타냅니다.

In [11]:
# *****[1.3.2] 아래의 코드를 실행하세요*****
a = 1
print(a)

b = 2
print(b)

a = b
print(a)
print(b)

1
2
2
2

####[1.3.3] 
파이썬에서는 둘 이상의 변수에 값을 동시에 할당하는 것을 상당히 편하게 할 수 있습니다.
```
a, b = 1, 2
```
위의 코드는 a에는 1을, b에는 2를 할당합니다. 이를 이용하면, 두 변수의 값을 서로 바꾸는 것은 아래처럼 쉽게 할 수 있습니다.
```
a, b = b, a
```
예를 들어, C/C++과 같은 다른 언어에서는 위를 tem = a; a = b; b = tem;으로 해야 해서 파이썬보다 불편할 뿐 아니라 직관적이지도 않습니다.

In [12]:
# [1.3.3] 위의 예시 코드를 참고하여 변수 company_a와 company_b에 각각 "SpaceX"과 "Tesla"를 할당하고, 두 변수에 할당된 값을 서로 바꿔주는 코드를 작성하세요. 
# print() 함수를 통해 바꿔주기 전과 후 두 변수에 할당된 값을 비교하세요.
# ***** 아래에 코드를 작성하세요*****
company_a, company_b = "SpaceX", "Tesla"
print(company_a, company_b)

company_a, company_b = company_b, company_a
print(company_a, company_b) 

# ***********************************

SpaceX Tesla
Tesla SpaceX

### 1.4 파이썬의 자료형

####[1.4.1] 
우리는 앞서 변수에 숫자와 문자열을 할당해보았습니다. 이처럼 변수에 할당된 값의 종류를 자료형(data type)이라고 합니다. 각 변수에 어떤 자료형의 값이 들어가 있는지에 따라 그 값을 저장하고 계산하는 방법이 다르기 때문에 이러한 값의 종류를 이해하는 것이 매우 중요합니다. 파이썬에는 다양한 자료형이 있지만 우선 숫자를 나타내는 int와 float, 문자열을 나타내는 string, 그리고 파이썬의 대표적인 기본 컨테이너인 list에 대해서 배우도록 하겠습니다.

우선 숫자를 나타내는 자료형으로 int와 float이 있습니다. int는 integer의 약자로 정수 5, 0, -1과 같은 정수를 나타냅니다. float은 소숫점을 포함한 숫자로 5.0, 0.31, -6.1 등이 있습니다. 3과 3.0이 완전히 다른 자료형으로 구분됩니다. int를 float으로 바꿀 때는 **float()**, float을 int로 바꿀 때는 **int()**를 사용할 수 있습니다. 아래의 예시에서 **type()**이라는 명령어를 통해 각 변수에 할당된 자료형을 출력하였습니다.

In [13]:
# *****[1.4.1] 아래의 코드를 실행하세요*****
a = 3
print(type(a))

b = 3.0
print(type(b))

# python: int와 float를 곱하면 float로 변환된다 -> AI Code에서 주의해야 할 부분!
c = a * b
print(type(c))

c = int(c)
print(type(c))

c = float(c)
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>

####[1.4.2] 
string은 문자열로 큰 따옴표 "" 또는 작은 따옴표'' 를 사용해 감싸는 형태로 나타냅니다. + 연산을 통해 두 개의 string을 합칠 수 있습니다. str() 명령어를 통해 float과 int를 string으로 변환할 수 있습니다.

In [14]:
# *****[1.4.2] 아래의 코드를 실행하세요*****
example = 3
print(example)
print("example")

string_a = "MacBook"
string_b = " "
string_c = 'M'
string_d = str(2)
string_add = string_a + string_b + string_c + string_d
print(string_add)

3
example
MacBook M2

####[1.4.3] 
string은 여러개의 문자(char)들이 합쳐진 문자열로 순서를 지니고 있기 때문에 index의 활용이 가능합니다. 예를 들어, words = "Rocket punch"가 있을 때, words[0]는 "R", words[1]은 "o"를 나타냅니다.

In [16]:
# *****[1.4.3] 아래의 코드를 실행하세요*****
words = "Rocket punch"
print(words[0])
print(words[1])
print(words[6])

R
o

In [17]:
print(words[-1])
print(words[-2])

h
c

####[1.4.4] 
list는 파이썬의 대표적인 기본 컨테이너로 다양한 자료형을 유연하게 순서대로 담을 수 있는 특징이 있습니다. 예를 들어 다음과 같이 리스트를 만들 수 있습니다.

```
L = [1, 2, 3, 4]
```

큰 괄호 [ ]로 감싸서 나열하면 리스트가 됩니다. 네 개의 정수형 요소(element)가 '순서'대로 담긴 컨테이너로 각 요소에는 인덱스를 사용하여 접근할 수 있습니다. 인덱스는 0부터 첫 번째 요소를 나타내어 L[2]를 출력하면 3이 나타납니다. 인덱스는 리스트의 크기를 넘어설 수 없어서 L[4]를 출력하거나 접근하려 하면 에러 메시지를 출력합니다. 파이썬에서는 재미있게도 음수 인덱스를 허용합니다. L[-4]는 1이 되겠으나, L[-5]로 접근하면 리스트의 크기를 넘어서 에러 메시지가 출력됩니다.

In [18]:
# [1.4.4] "Model 3", "Model Y", "Model X", "Model S"의 4 문자열 요소로 구성된 리스트를 만들고 리스트의 인덱스를 통해 "Model 3"과 "Model S"를 출력하세요.
# ***** 아래에 코드를 작성하세요*****

models = ['Model 3', 'Model Y', 'Model X', 'Model S']
print(models)
print(models[0])
print(models[-1])

# ***********************************

['Model 3', 'Model Y', 'Model X', 'Model S']
Model 3
Model S

####[1.4.5] 
list와 string 둘다 순서를 지닌 배열이기 때문에 특정 범위만을 잘라내는 slicing이 가능합니다. 예를 들어 words = "I love you"라는 string이 주어진 경우, words[2:6]이라고 할 경우, "love"에 해당하는 string만 잘라낼 수 있습니다.

In [24]:
# [1.4.5] "I love you"에서 "you"를 slicing해주세요.  
# ***** 아래에 코드를 작성하세요*****
 
# 순서를 갖고 있는 모든 것은 slicing 가능
words = "I love you"
print(words[-3:])
print(words[:6]) # words[0:6]과 동일: 0이상 6미만

# ******************************************

you
I love

In [21]:
# list slicing
print(models[1:3])
print(models[1:-1])

['Model Y', 'Model X']
['Model Y', 'Model X']

###1.5 리스트의 활용

####[1.5.1] 
리스트를 활용하기 위한 여러 명령어가 존재합니다. 우선 리스트에 새로운 요소를 추가하려면 append를 활용하면 됩니다. 예를 들어 L = [10, 20, 30, 40]에 이어서 50을 추가하려면 L.append(50)와 같이 명령하면 됩니다. 특정 요소를 지우는 것은 remove로 L.remove(30)을 하면 세 번째 요소 30이 삭제되고 각 요소가 한 칸씩 앞으로 오게 됩니다. 삭제하고자 하는 요소가 여러 번 나타나면 첫 번째 것을 삭제합니다.

In [26]:
# *****[1.5.1] 아래의 코드를 실행하세요*****
L = [10, 20, 30, 40]
# append: 데이터를 맨 끝에 넣어준다
L.append(50)
print(L)

# remove: 인덱스가 아닌 데이터 자체를 입력한다
L.remove(30)
print(L)

L.append(20)
print(L)
L.remove(20)
print(L)

[10, 20, 30, 40, 50]
[10, 20, 40, 50]
[10, 20, 40, 50, 20]
[10, 40, 50, 20]

####[1.5.2] 
그 밖에 리스트의 요소들을 순서대로 정렬하는 sort, 순서를 뒤집는 reverse, 특정 요소의 인덱스를 알려주는 index, 특정 인덱스에 해당 요소를 입력하는 insert도 있습니다.

In [29]:
# *****[1.5.2] 아래의 코드를 실행하세요*****
L = [1, 6, 9, 3, 5, 2]
L.sort()
print(L)

# 맨 앞 또는 맨 뒤로 element를 일관되게 추가하는 경우가 많기 때문에, elements를 통째로 뒤집어주는 reverse 많이 사용
L.reverse()
print(L)

L = [10, 20, 40, 50]
print(L.index(20))

# insert: 2개의 인자가 필요하다. 
L.insert(2, 30)
print(L)

[1, 2, 3, 5, 6, 9]
[9, 6, 5, 3, 2, 1]
1
[10, 20, 30, 40, 50]

In [27]:
# string도 오름차순 정렬된다
L = ["k", "d", "f", "z", "x", "a"]
L.sort()
print(L)

['a', 'd', 'f', 'k', 'x', 'z']

In [28]:
# 중복이 있는 경우, 가장 앞에 있는 element의 인덱스를 반환한다
L = [10, 20, 20, 40, 50]
print(L.index(20))

1

In [25]:
# high level AI coding을 하는 경우, help 명령어로 패키지를 스스로 활용하는 법을 익혀야 한다
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None


```
Q. 다음의 코드를 실행할 경우 최종적으로 출력되는 값을 구하세요.

L = [1, 2, 3, 4]

L.insert(2, 1)
L.append(1)
L.remove(2)
L.reverse()
print(L[3])

```

####[1.5.3]
리스트에는 int, float, string 뿐만 아니라 파이썬에서 다루어지는 거의 모든 것들을 집어넣을 수 있다는 장점을 지닙니다. 여기에는 리스트 자신도 포함입니다. 특히 이중 리스트를 통해 일반적으로 다루어지는 tabular 데이터들 처리할 수 있습니다.

![캡처.PNG]()

예를 들어, 위 표의 경우, 이중 리스트를 통해 다음과 같이 나타낼 수 있습니다.

```
data_model3 = [ [ ["Standard Range Plus"], ["준중형"], ["383"] ], [ ["Long Range"], ["준중형"], ["528"] ], [ ["Performance"], ["준중형"], ["480"] ] ]

```

In [31]:
# *****[1.5.3] 아래의 코드를 실행하세요*****
# 2차원의 tabular data는 이중 리스트로 표현할 수 있다.
data_model3 = [ ["Standard Range Plus", "준중형", "383"], ["Long Range", "준중형", "528"], ["Performance", "준중형", "480"] ]
print(data_model3[2][2])
print(data_model3[-1][-1])

# 하나의 column 안에 여러 개의 데이터가 들어가 있는 tabular data라면 삼중 리스트 필요 ex) 제조국가: 한국, 중국, 일본

480
480

### 1.6 for문

#### [1.6.1] 
긴 리스트에서 각 요소를 하나씩 순차적으로 가져와서 작업을 해야 하는 경우에 유용하게 사용할 수 있는 것이 for문입니다. 예를 들어, 리스트 L = [1, 2, 3, 4]가 있을 때, 

```
for i in L:
    print(i)
```
를 실행하면 L의 요소를 순서대로 가져와 하나씩 출력할 수 있습니다.

In [ ]:
# [1.6.1] for문을 사용해 L = [10, 20, 30, 40, 50]의 요소를 하나씩 가져와 제곱하여 출력하세요.
# ***** 아래에 코드를 작성하세요*****
 


# ***********************************

#### [1.6.2]
for문을 사용하는 또 다른 유용한 경우는 특정 횟수를 반복해서 동일한 작업을 진행하는 경우입니다. 이 경우 일반적으로 for i in range(10)와 같이 range 배열을 함께 사용합니다.

In [ ]:
# *****[1.6.2] 아래의 코드를 실행하세요*****
for i in range(5):
    print(i)
    print("인공지능 학습 중")

### 1.7 if문

#### [1.7.1]
bool자료형은 True와 False 두 가지로 구성이 되며 주로 조건문이 참인지 거짓인지를 나타냅니다. 예를 들어 x == y라는 조건문이 주어졌을 때 변수 x와 y에 할당된 값이 같다면 True, 다르다면 False 값을 지니게 됩니다. 조건문을 구성하는 비교연산자에는 ==, !=, >, < 등이 있고, 논리연산자에는 and, or 등이 있습니다.

In [ ]:
# *****[1.7.1] 아래의 코드를 실행하세요*****
a = 1
b = 1
c = 2

print(a == b)
print(a != b)
print(a < c)
print((a == b) and (a > c) )

####[1.7.2]
if문은 함께 나오는 조건문이 True인지 False인지에 따라 코드의 실행여부를 결정합니다. else를 함께 활용하여 True인 경우에는 if문을 False인 경우에는 else문을 따르도록 프로그래밍할 수 있습니다.

In [ ]:
# *****[1.7.2] 아래의 코드를 실행하세요*****

a = 1
b = 1

if a == b:
    print("a is equal to b")
else:
    print("a is not equalt to b")

a = 1
b = 2

if a == b:
    print("a is equal to b")
else:
    print("a is not equal to b")

#### [1.7.3]
if문은 for문과 함께 사용하여 for loop을 도는 동안 조건을 만족할 경우에만 특정 작업을 수행하게 하거나, 조건을 달성하면 break를 통해 for문의 loop를 끝내게 하는 데 자주 사용됩니다.

In [ ]:
multiples_3 = []
for i in range(100):
    if (i % 3 == 0) and i > 0:
        multiples_3.append(i)
print(multiples_3)

### 1.8 실습: 2022 Top250 스타트업 데이터 분석

In [ ]:
# *****[1.8.1] 아래의 코드를 실행하세요*****
from google.colab import drive
drive.mount('/content/drive')
#%cd '파일 경로'

In [ ]:
# *****[1.8.2] 아래의 코드를 실행하세요*****
import csv

data = []
with open('Startups.csv', 'r', encoding='cp949') as f:
    source = csv.reader(f, delimiter=',')
    header = next(source)
    for row in source:
        data.append(row)

In [ ]:
# *****[1.8.3] 아래의 코드를 실행하세요*****
import numpy as np
print(np.shape(data))
print(data[0])
print(data[0][3])

####Q1. 스타트업 기업들 간 밸류에이션(valuation)의 분포는?
####Q2. 기업별 밸류에이션의 평균과 최대값은?
####Q3. 밸류에이션이 가장 큰 스타트업은?
####Q4. 어떤 산업에 스타트업 기업이 가장 많을까?
####Q5. 어떤 산업에서의 평균 밸류에이션 가장 높을까?

### Q1. 스타트업 기업들 간 밸류에이션(valuation)의 분포는?

In [ ]:
# *****[1.8.4] 아래의 코드를 실행하세요*****
value_list = []
for company in data:
    value = float(company[1])
    value_list.append(value)

In [ ]:
# *****[1.8.5] 아래의 코드를 실행하세요*****
print(value_list)

In [ ]:
# *****[1.8.6] 아래의 코드를 실행하세요*****
import matplotlib.pyplot as plt
plt.hist(value_list,bins=20)
plt.show()

### Q2. 밸류에이션의 평균과 최대값은?

In [ ]:
# *****[1.8.7] 아래의 코드를 실행하세요*****
import numpy as np
value_mean = np.mean(value_list)
value_max = np.max(value_list)
print(value_mean)
print(value_max)

### Q3. 밸류에이션이 가장 큰 스타트업은?

In [ ]:
# *****[1.8.8] 아래의 코드를 실행하세요*****
name_list = []
value_list = []
for company in data:
    name = company[0]
    name_list.append(name)

    value = float(company[1])
    value_list.append(value)

In [ ]:
# *****[1.8.9] 아래의 코드를 실행하세요*****
name_max = name_list[value_list.index(np.max(value_list))]
print(name_max)

### Q4. 어떤 산업에서의 평균 밸류에이션 가장 높을까?

In [ ]:
# *****[1.8.10] 아래의 코드를 실행하세요*****
industry_list = []
for company in data:
    industry = company[3]
    if industry != '':
        if industry not in industry_list:
            industry_list.append(industry)

In [ ]:
# *****[1.8.11] 아래의 코드를 실행하세요*****
value_avg_list = []
for industry in industry_list:
    values = []
    for row in data:
        if row[3] == industry:
            values.append(float(row[1]))
    value_avg = np.mean(values)
    value_avg_list.append(value_avg)

In [ ]:
# *****[1.8.12] 아래의 코드를 실행하세요*****
print(value_avg_list)

In [ ]:
# *****[1.8.13] 아래의 코드를 실행하세요*****
import matplotlib.pyplot as plt
plt.hist(value_avg_list, bins=20)
plt.show()

In [ ]:
# *****[1.8.14] 아래의 코드를 실행하세요*****
industry_max_value = industry_list[value_avg_list.index(np.max(value_avg_list))]
print(industry_max_value)

### Q5. 어떤 산업에 스타트업 기업이 가장 많을까?

In [ ]:
# *****[1.8.15] 이상의 내용을 활용하여 산업별 valuation의 평균을 구하고 이를 value_avg_list에 저장하세요*****
# 힌트: [1.8.11]과 동일하게 이중 for문과 if문을 활용하여 if조건문을 만족하는 경우를 세면 됩니다.

count_list = []
for industry in industry_list:
# ***** 아래에 코드를 작성하세요*****




# ***********************************

In [ ]:
# *****[1.8.16] 아래의 코드를 실행하세요*****
print(count_list)

In [ ]:
# *****[1.8.17] 아래의 코드를 실행하세요*****
import matplotlib.pyplot as plt
plt.hist(count_list, bins=20)
plt.show()

In [ ]:
# *****[1.8.18] 아래의 코드를 실행하세요*****
industry_max_count = industry_list[count_list.index(np.max(count_list))]
print(industry_max_count)